<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark">
    
    <fa-icon (click)="toggleMenu()" [icon]="faBars" size="lg" class="btn-navbar navbar-toggler-icon leftmenutrigger"></fa-icon>

    <div class="logo_hora-hora">
      <fa-icon [icon]="faBusinessTime" size="lg"></fa-icon>
       
      <a class="navbar-brand" href="#">Hora Hora</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav" [class.open]="menuOpen">
        <li class="nav-item">
          <a class="nav-link" routerLink='/dashboard'>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hora Ponto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
