<div class="d-flex align-items-center justify-content-center h-100">
<form class="form-signin card">
  <div class="text-center mb-5">
    <img class="logo" title="Logo" src="assets/icons/wall-calendar.svg" alt="logo">
    <!-- <h1 class="h3 mb-3 font-weight-normal">Hora Hora</h1> -->
  </div>

  <div class="form-label-group">
    <input type="email" id="email" class="form-control" placeholder="Email address" [(ngModel)]="user.email" name="email">
    <label for="email">Email address</label>
  </div>

  <div class="form-label-group mb-1">
    <input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password">
    <label for="password">Password</label>
  </div>

  <div class="d-flex mb-4">
    <a class="btn btn-link hora-text pl-0 pt-0" (click)="openModal(template)">Forget password?</a>
  </div>

  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit" (click)="loginWithEmail()">Sign in</button>

  <div>
    <p class="mt-4 mb-4 text-muted text-center">or <b>Sign Up</b> with</p>
  </div>

  <div class="text-center">
    <img class="google-icon-login" title="Login with Google" src="assets/icons/google.svg" alt="google login" (click)="authService.googleLogin()">
  </div>

  <div class="text-center">
    <a class="btn btn-link hora-text fs-16 mt-3 mb-3" [routerLink]="['/register']">Create Account</a>
  </div>

  <p class="mb-3 text-muted text-center">© 2017-2018</p>
</form>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Recuperar Senha</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-label-group">
      <input type="email" id="rescueEmail" class="form-control" placeholder="Email address" [(ngModel)]="rescueEmail"
        name="rescueEmail">
      <label for="rescueEmail">Email address</label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-light" (click)="modalRef.hide()">Cancelar</button>
    <button class="btn btn-primary" (click)="resetPassword()">Recuperar</button>
  </div>
</ng-template>

