<div class="container">
  <div class="w-100 welcome">
    <h1>Welcome Dashboard</h1>
    <p>Controle de ponto</p>
  </div>

  <div class="d-flex ">

    <div class="card w-100 mr-3 card-dashboard" [ngClass]="(0 >= 0) ? 'bg-positivo' : 'bg-negativo' ">
      <i class="icon_dash icon_clock"></i>
      <div class="text_dash">
        <h2>0 H</h2>
        <h5>Banco Horas</h5>
      </div>
    </div>

    <div class="card w-100 mr-3 card-dashboard">
      <i class="icon_dash icon_work"></i>
      <div class="text_dash">
        <h2>00 H</h2>
        <h5>Horas Trabalhadas</h5>
      </div>
    </div>
  </div>
</div>
