.page-title {
  font-size: 2rem;
}

.card-head {
  h3 {
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
  }
}

.auxBody {
  background: #0079bf url(https://ci6.googleusercontent.com/proxy/ylCLL1F1gzkqmUbbKqJ4RznyCylJMRnTjKx…#https://dm9d104elaxz5.cloudfront.net/Welcome%20series/backgroundPixel.png) repeat-x top center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}
