<form class="form-signin" name="userform">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Hora Hora</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" [(ngModel)]="user.email" name="email">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="user.password" name="password">
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="user.confirmPassword" name="password">
    <label for="inputPassword">Confirm Password</label>
  </div>

  <div class="d-flex">
    <button class="btn btn-lg btn-light mr-3 w-100" type="submit" (click)="backToLogin()">Back</button>
    <button class="btn btn-lg btn-primary w-100" type="submit" (click)="signInWithEmail()">Register</button>
  </div>

  <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
</form>
