<form class="form-signin card">
  <div class="text-center mb-5">
    <img class="logo" title="Logo" src="assets/icons/wall-calendar.svg" alt="logo">
    <!-- <h1 class="h3 mb-3 font-weight-normal">Hora Hora</h1> -->
  </div>

  <div class="form-label-group">
    <input type="email" id="email" class="form-control" placeholder="Email address" [(ngModel)]="user.email" name="email">
    <label for="email">Email</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password">
    <label for="password">Senha</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="confirmPassword" class="form-control" placeholder="Password" [(ngModel)]="user.confirmPassword" name="confirmPassword">
    <label for="confirmPassword">Confirmar Senha</label>
  </div>

  <div class="d-flex mt-4 mb-4">
    <button class="btn btn-lg btn-light w-100 mr-3" type="submit" [routerLink]="['/login']">Cancelar</button>
    <button class=" btn btn-lg btn-primary w-100" type="submit" (click)="cadastrarUsuario()">Cadastrar</button>
  </div>

  <p class="mb-3 text-muted text-center">© 2017-2018</p>
</form>
