<form class="form-signin card" novalidate [formGroup]="registerForm" [hidden]="success" (ngSubmit)="cadastrarUsuario()">
  <div class="text-center mb-5">
    <img class="logo" title="Logo" src="assets/icons/wall-calendar.svg" alt="logo">
    <!-- <h1 class="h3 mb-3 font-weight-normal">Hora Hora</h1> -->
  </div>

  <div class="form-label-group">
    <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="email" required
      [ngClass]="{ 'is-invalid': email.invalid && email.touched }">
    <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
      Email invalido
    </div>
    <label for="email">Email</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password"
      [ngClass]="{ 'is-invalid': password.invalid && password.touched }">
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
      Senha invalida
    </div>
    <label for="password">Senha</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="confirmPassword" class="form-control" placeholder="Password" formControlName="confirmPassword"
      [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.touched }">
    <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="invalid-feedback">
      Senha invalida
    </div>
    <label for="confirmPassword">Confirmar Senha</label>
  </div>

  <div class="d-flex mt-4 mb-4">
    <button class="btn btn-lg btn-light w-100 mr-3" [routerLink]="['/login']">Cancelar</button>
    <button class=" btn btn-lg btn-primary w-100" [disabled]="registerForm.invalid">Cadastrar</button>
  </div>

  <p class="mb-3 text-muted text-center">© 2017-2018</p>
</form>

<div *ngIf="success">
  Yay! We received your submission
</div>
